*{
    margin: 0%;
    padding: 0%;
    
}




   .header{
    height: 75px;
    width: 100%;
    background-color: rgb(23, 172, 218);
    justify-content: center;
    
   }
   
 .text{
    height: 10px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 900;
    color: red;
    font-style: italic;
    
    animation: typing 1s steps(20) infinite
    alternate-reverse;
 }
/*    */

 .img{
    margin-left: 10px;
    height: 25px;
    width: 20;
    background-color: transparent;
    margin-top: -27px;
    size: 1rem;
   
    
 }

 .img2{
   align-items: end;
    margin-left: 1200px;
    margin-top: -14px;
 }
 

 #headerpage{
    height: 10%;
    width: 100%;
    background-color: green;
    border: 10cm;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 #headerpage:hover{
text-overflow: clip;
text-transform: none;
 }

 .home {
    color: red;

}

 .home{
    margin: 15px;
    justify-content: center;
    margin-left: 3%;
 }

 #page1{
    height: 78% ;
    width: 100%;
    background-color: aqua;
    align-items: center;

}

.note{
    width: 100%;
    height: 10%;
    background-color: rgb(235, 231, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation-play-state: running; */
    font-weight: bold;
    /* margin-right: auto; */
    color: rgb(0, 0, 0);
    
}

.shopsection{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: #e9e9e9;
   size: 2vw;

}

.box{
   height: 250px;
   /* border: 2px solid black; */
   width: 18%;
   background-color: white;
   margin-top: 15px;
   background-size: contain;
   margin-top: 1rem;
   margin-bottom: 1rem;
   
}
.box:hover{
   transform: scale(1.1);
   transition: 1s;
}

.box-img{
   height: 200px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 13.5px;
   margin-right: 13.5px;
   margin-top: 15px;
   
   
   
}




p{
   margin-top: -25px;
   
}

button{
   font-size: 1.2vw;
   padding: .3vw;
   background-color: rgb(255, 47, 99);
   border: none;
   border-radius: 4px;
   font-weight: 700;
   margin-top: -20px;
}

button:hover{
   background-color: rgb(126, 1, 1);
}

 #page3{
        height: 30%;
        width: 100%;
        background-color: greenyellow;
    }

    .notish{
    width: 100%;
    height: 20%;
    background-color: rgb(116, 13, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation-play-state: running; */
    font-weight: bold;
    /* margin-right: auto; */
    color: rgb(255, 255, 255);
    }

    #page4{
    width: 100%;
    height: 8%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation-play-state: running; */
    font-weight: bold;
    /* margin-right: auto; */
    color: rgb(255, 255, 255);
    position: absolute;
    }
    .get{
        /* margin-top: 20px; */
        background-color: rgb(0, 0, 0);
        font-weight: bolder;
        font-size: x-large;
        color: rgb(0, 0, 0);
    }

    .home:hover{
      color: red;
      
    }


    .listname{
      font-size: 2vw;
    }

    .help{
      display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: #ececec;
   size: 2vw;

    }
.score{
   height: 150px;
   /* border: 2px solid black; */
   width: 28%;
   background-color: white;
   margin-top: 15px;
   background-size: contain;
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.response{
   color: red;
}

.we{
   margin-top: 10px;
   font-size: 1vw;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: 700;
}

.score:hover{
   transform: scale(1.1);
   transition: 1s;
}
.find{
   font-size: 2.5vw;
   margin-top: 5px;
   font-weight: 700;
}